.input__filter {
  display: block;
  margin: 0 auto;
  margin-top: 2%;
  width: 70%;
  padding: 3%;
  font-size: 90px;
  color: black;
  border-radius: 20%;
  background-color: rgb(184, 173, 173);
}
button {
  width: 80%;
  display: block;
  margin: 0 auto;
  font-size: 60px;
  padding: 2%;
  color: rgb(36, 128, 0);
  margin-bottom: 10px;
}
h2 {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 70px;
  color: coral;
  padding-bottom: 2%;
  padding-top: 2%;
}
.label__filter {
  display: block;
  width: 100%;
  padding: 2%;
  color: cyan;
  font-size: 100px;
  text-align: center;
}
